body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
  margin-top: 3rem;

}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

ul {
  list-style-type: none;
  display: inline;
  padding-inline-start: 0;
}

.treeicon  {
  border-radius: 100%;
  padding: 5px;
  background: white;
  margin: -2.2em 0 0 -1.3em;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}
