body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
  margin-top: 3rem;

}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

ul {
  list-style-type: none;
  display: inline;
  padding-inline-start: 0;
}