$primary-text-color: #303030;
$black: #000;
$white: #fff;
$gray: #707070;
$gray-light: #9b9b9b;
$gray-lighter: #c7c7c7;
$gray-super-light: #eee;


$primary-color: #1BC898;
$dark-primary-color: #138D5F;
$error-color: #f44336;
$link-color: $primary-color;

$red: #db0015;
$yellow: #ffc11b;
$amber: #ffab40;
$green: #00b145;
$light-green: #33ff45;
